@model DiamondShopData.ViewModel.ProductDTO.ProductUpdateDTO

<form id="editProductForm" enctype="multipart/form-data">
    <input type="hidden" id="DiamondId" name="DiamondId" value="@Model.DiamondId" />

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required>@Model.Description</textarea>
    </div>

    <div class="form-group">
        <label for="Metal">Metal</label>
        <input type="text" class="form-control" id="Metal" name="Metal" value="@Model.Metal" required />
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" required />
    </div>

    <div class="form-group">
        <label for="Cost">Cost</label>
        <input type="number" class="form-control" id="Cost" name="Cost" value="@Model.Cost" required />
    </div>

    <div class="form-group">
        <label for="Stock">Stock</label>
        <input type="number" class="form-control" id="Stock" name="Stock" value="@Model.Stock" required />
    </div>

    <div class="form-group">
        <label for="Size">Size</label>
        <input type="number" class="form-control" id="Size" name="Size" value="@Model.Size" required />
    </div>

    <div class="form-group">
        <label for="ImageUrl">Image</label>
        <input type="file" class="form-control" id="ImageUrl" name="ImageUrl" />
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="IsDeleted" name="IsDeleted" @(Model.IsDeleted ? "checked" : "") />
        <label class="form-check-label" for="IsDeleted">Is Deleted</label>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>