@model DiamondShopData.ViewModel.ProductDTO.ProductUpdateDTO
<link href="~/css/site.css" rel="stylesheet" />

<div class="form-group row">
    <div class="col-md-6">
        <label for="1">DiamondId</label>
        @Html.EditorFor(model => model.DiamondId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DiamondId, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label for="1">Name</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Description</label>
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label for="IsDeleted">IsDeleted</label>
        @Html.CheckBoxFor(model => model.IsDeleted, new { htmlAttributes = new { @class = "form-check-input" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Metal</label>
        @Html.EditorFor(model => model.Metal, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Metal, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label for="1">Price</label>
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">ImageUrl</label>
        @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label for="1">Cost</label>
        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Stock</label>
        @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        <label for="1">Size</label>
        @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
    </div>
</div>