@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DiamondShopData.ViewModel.OrderDTO.OrderProductDTO>

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>Product Name</th>
        <th>Diamond Name</th>
        <th>Image Product</th>
        <th>Price</th>
        <th>Metal</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    @{
        int no = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @no
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.DiamondName)
            </td>

            <td>
                <img src="@item.Product.ImageUrl" alt="Product Image" style="width:100px;height:auto;" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Metal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
        </tr>
        no++;
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>