@model IEnumerable<DiamondShopData.ViewModel.OrderDTO.OrderDTO>

@{
    ViewData["Title"] = "Order List";
}

<h1>Order List</h1>

<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
        <th>@Html.DisplayNameFor(model => model.Payment)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        int counter = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
            <td>@Html.DisplayFor(modelItem => item.Payment)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
            <td>
                @if(item.Status != "Finished" && item.Status != "Cancelled")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
        counter++;
    }
    </tbody>
</table>