@model IEnumerable<DiamondShopData.Models.Order>

@{
    ViewData["Title"] = "View";
}

<h1>Order List</h1>

<p>
    @ViewBag.StringJSON
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Status)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                </td>
            </tr>
        }
    </tbody>
</table>